# Node Modules
node_modules

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Gatsby files
.cache/
public

# Mac files
.DS_Store

# Yarn Integrity file
.yarn-integrity

# Editors
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
